@import "Variables.css";

.Accounts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.awaitingUsers {
    background-color: green;

}

.verifiedUsers {
    background-color: yellow;
}