@import "Variables.css";

.Accounts {
    position: absolute;
    font-family: var(--Font);
    color: var(--Zwart);
    top: 50%;
    left: 50%;
    width: 640px;
    transform: translate(-50%, -50%);
}

.awaitingUsers {
    background-color: var(--Wit);
    padding: 2%;
    border-radius: 5%;
    border-style: solid;
    border-width: 5px;
}

.verifiedUsers {
    background-color: var(--Wit);
    margin-top: 20px;
    padding: 2%;
    border-radius: 5%;
    border-style: solid;
    border-width: 5px;
}

.userInfo {
    position: relative;
    padding: 15px;
}

.id {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 25px;
    border-style: solid;
}

.username {
    position: absolute;
    left: 70px;
    width: 400px;
    height: 25px;
    border-style: solid;
}

.role {
    position: absolute;
    text-align: center;
    left: 475px;
    width: 50px;
    height: 25px;
    border-style: solid;
}

.acceptButton {
    position: absolute;
    left: 540px;
    width: 20px;
    background-color: rgb(22, 224, 22);
}

.declineButton {
    position: absolute;
    left: 570px;
    width: 20px;
    background-color: red;
}