@import "Variables.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--Font);
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #ff00ba, transparent), linear-gradient(93deg, transparent, rgba(19,43,200,.89)), linear-gradient(60deg, #d22e12, transparent);
    z-index: -1;
}

li, .Link {
    color: var(--Zwart);
    text-decoration: none;
}

.Navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    min-height: var(--NavBarHeight);
    background-color: var(--Wit);
    filter: drop-shadow(0px 5px 7.5px rgba(0, 0, 0, 0.25));
    z-index: 999;
}

.NavLogo {
    cursor: pointer;
}

.NavLinks {
    list-style: none;
}

.NavLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.NavLinks li .Link {
    transition: all 0.2s ease 0s;
}

.NavLinks li a:hover {
    color: var(--Magenta);
}

/* .logoBlockStripe {
    position: relative;
    left: -2px;
    top: 7px;
    width: 100px;
    height: 10px;
    background-color: rgba(19,43,200);
} */