@import "Variables.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--Font);
    font-weight: bold;
}

body {
    width: 100%;
    height: 100vh;
    z-index: -1;
}

li, .Link {
    color: var(--Zwart);
    text-decoration: none;
    padding: 3px;
}

.Navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    min-height: var(--NavBarHeight);
    background-color: var(--Wit);
    filter: drop-shadow(0px 5px 7.5px rgba(0, 0, 0, 0.25));
    z-index: 998;
}

.NavLogo {
    cursor: pointer;
}

.NavLinks {
    list-style: none;
    margin-right: 100px;
}

.NavLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.NavLinks li .Link {
    transition: all 0.2s ease 0s;
}

.NavLinks li a:hover {
    color: var(--Magenta);
}

.profilePic {
    position: fixed;
    top: 20%;
    left: 90%;
    background: linear-gradient(180deg, #ff00ba, transparent), linear-gradient(93deg, transparent, rgba(19,43,200,.89)), linear-gradient(60deg, #d22e12, transparent);
    width: 65px;
    height: 65px;
    border-radius: 100%;
    text-align: center;
    padding-top: 5px;
}

.profileMenu {
    display: none;
}

.profilePic:hover .profileMenu {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--Wit);
    width: 100px;
    padding: 2px;
    text-align: left;
    list-style: none;
}

.profileMenu li .Link {
    transition: all 0.2s ease 0s;
}

.profileMenu li a:hover {
    color: var(--Magenta);
}