:root {
    --NavBarHeight: 90px;
    --Wit: #FFFFFF;
    --Zwart: #000000;
    --Grijs: #4D4D4D;
    --Magenta: #FE04FF;
    --Rood: #DB0000;
    --Blauw: #0000FF;
    --Font: "Raleway", sans-serif;
}